@page
@model IndexModel
@{
    ViewData["Title"] = "Login Page";
}


<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Enter your username and password to log in.</p>
</div>
<body>
    <div class="text-center">
    <form action="URL-TO-SEND-TO">
        <label for="first">
            Username:
        </label>
        <input type="text" id="first" name="first"
            placeholder="Enter your Username" required />

        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="password"
            placeholder="Enter your Password" required>

        <div class="wrap">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>
    </div>
</body>